Repository KungFuFurby/AddMusicKFF, pull requests merged in 2023-06, with the labels that each got.

#376 Don't output an error on multiple low note warnings
  src/AddmusicK/Music.cpp
Labels: c++-side

#377 Additional global song optimizations
  music/originals/01 Miss.txt
  music/originals/02 Game Over.txt
  music/originals/03 Boss Clear.txt
  music/originals/04 Stage Clear.txt
  music/originals/05 Starman.txt
  music/originals/06 P-switch.txt
  music/originals/07 Keyhole.txt
  music/originals/09 Bonus End.txt
Labels: music-data

#380 Make all numeric defines not use # at the beginning
  asm/SNES/patch.asm
  asm/SNES/tweaks.asm
  asm/UserDefines.asm
  asm/main.asm
Labels: spc-side, snes-side
